<%-include('common/head.ejs')-%>



      <title>AJIO</title>
      <meta name="description" content="AJIO" />
      <meta name="keywords" content="AJIO" />
   </head>
   <body>
      <%-include('common/mobile-nav.ejs')-%>
      <%-include('common/header.ejs')-%>

      <img src="/frontent/images/teach-on-you-tub.jpg" class="img-fluid" width="100%">
      <section class="teach-coders-view">
         <div class="container">
            <div class="row">
               <!-- <div class="col-md-4"><img src="images/android.jpg" class="img-fluid"></div> -->
               <div class="col-md-12">
                  <article>
                     <h1>Know about AJIO</h1>
                     <p><strong>AJIO</strong> is an educational tutorial platform. It provides online class to the student. It teaches absolutely the easy way. Which is <strong>absolutely free</strong>. It teaches students to do <strong>online exercise and theory</strong>. Its main aim is to make students specialize in Designing or Develoment.</p>
                     <div class="more-read">
                        <p><strong>It teaches students in two ways</strong></p>
                        <ul>
                           <li>Through the Website (Text Tutorial)</li>
                           <li>Through the Video (Video Tutorial)</li>
                        </ul>
                        <p><strong>Some Important Courses by AJIO</strong></p>
                        <ul>
                           <li>web designing</li>
                           <li>Web development</li>
                           <li>Android App Development</li>
                        </ul>
                        <p>In the future, it will provide a user profile to the student. Through that profile, the student will be taught face to face from home and their doubts will be removed.</p>
                        <p><strong>Some important notes will also be given to the students in the last class.</strong></p>
                     </div>
                     <span class="click_me">Read More [+]</span>
                  </article>
               </div>
            </div>
         </div>
      </section>
      <section class="course">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <h2>COURSES</h2>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="course-box">
                     <div class="card">
                        <div class="card-body">
                           <h2 class="card-title">Basic JavaScript Tutorial</h2>
                           <ul>
                              <li><a href="Javascript/variable">Javascript</a></li>
                              <li><a href="Javascript/data-type">Data Type</a> </li>
                              <li><a href="Javascript/object">Object</a></li>
                              <li><a href="Javascript/operators">Operators</a></li>
                              <li><a href="Javascript/function">Function</a></li>
                              <li><a href="Javascript/loop">Loop</a></li>
                              <li><a href="Javascript/array">Array</a></li>
                              <li><a href="Javascript/dom-css-method">DOM CSS Method</a></li>
                              <li><a href="Javascript/dom-className">Dom ClassName</a></li>
                              <li><a href="Javascript/dom-ClassList">Dom ClassList</a></li>
                           </ul>
                           <div class="btntransitation">
                              <a href="Javascript/">View All</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               
               <!-- ///////////// -->
            </div>
         </div>
      </section>
      <section class="course">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-md-6 col-sm-12">
                  <h2 style="text-align:left;">Peole also Ask</h2>
                  <div class="accordion" id="accordionExample">
                     <div class="accordion-item">
                        <div class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
                           Does AJIO teach coding ?
                        </div>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p>Search your code topic on your browser. Click any website and read your topic.</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-controls="collapseTwo">
                           Does AJIO teach coding ?
                        </div>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              Type teachcoders.com on your browser. After open teachcoders.com select your topic list and learn your code
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <div class="accordion-button collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-controls="collapseThree">
                           Does AJIO teach coding ?
                        </div>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              Yes, AJIO teaching method is very easy and student friendly with real life practical example
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <div class="accordion-button collapsed"  data-bs-toggle="collapse" data-bs-target="#col_space_5" aria-controls="col_space_5">
                           Does AJIO teach coding ?
                        </div>
                        <div id="col_space_5" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              AJIO teaches Coding  in hindi language.
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <div class="accordion-button collapsed"  data-bs-toggle="collapse" data-bs-target="#col_space_4" aria-controls="col_space_4">
                           Does AJIO teach coding ?
                        </div>
                        <div id="col_space_4" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              yes,  if you learn fullstack developer then your career is bright.
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-12">
                  <a href="https://www.youtube.com/">  <img src="/frontent/images/teach-on-you-tub.jpg" width="100%"></a>
               </div>
            </div>
         </div>
      </section>
      <%-include('common/footer.ejs')-%>